apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-quarkus-btadmkxw
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-quarkus-btadmkxw:95ee30403cc8179c11cf37190d977a3b594fabd0@sha256:9a2db544388cae654b77b2fb0765288cd5799068dac60d8a1a6b1d17b0db06f6
          name: container-image
